{% extends 'base.html.twig' %}

{% block title %}Joueurs{% endblock %}

{% block content %}
    <h1>Liste des joueurs</h1>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Âge</th>
                    <th>Poste</th>
                </tr>
            </thead>
            <tbody>
                {% for player in players %}
                    <tr>
                        <td>{{ player.firstname }}</td>
                        <td>{{ player.age }}</td>
                        <td>{{ player.position }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <a class="btn btn-primary" href="{{ path('list_players') }}">Voir tout</a>
{% endblock %}
